/* HOME OVERVIEW GRID */
.div-home-overview-grid-container {
    display: grid;
    grid-template-columns: 35fr 65fr;
    column-gap: 2.4rem;
    height: fit-content;
}

/* HOME OVERVIEW GRID SIDEBAR */
.div-home-overview-grid-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
}

/* HOME OVERVIEW GRID SIDEBAR TASK LIST CONTAINER */
.div-home-overview-grid-sidebar-task-list-container {
    position: relative;
    flex-grow: 1;
    height: calc((5 * 4.8rem) + (4 * 0.8rem));
}

/* HOME OVERVIEW GRID SIDEBAR TASK LIST */
.home-overview-grid-sidebar-task-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: inherit;
    overflow-y: scroll;
}

.home-overview-grid-sidebar-task-list::-webkit-scrollbar {
    display: none;
}

/* HOME OVERVIEW GRID SIDEBAR TASK LIST ITEM */
.home-overview-grid-sidebar-task-list-item {
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    height: 4.8rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0 0.4rem 0.4rem 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.home-overview-grid-sidebar-task-list-item:hover {
    background-color: var(--primary);
    opacity: var(--opacity-lg);
}

.home-overview-grid-sidebar-task-list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: var(--primary);
    border-radius: 0 0.4rem 0.4rem 0;
    transition: inherit;
}

.home-overview-grid-sidebar-task-list-item:hover::before {
    background-color: var(--primary-shade);
}

.home-overview-grid-sidebar-task-list-item p {
    font-size: 1.4rem;
    transition: inherit;
}

.home-overview-grid-sidebar-task-list-item:hover p {
    color: var(--white);
}

.home-overview-grid-sidebar-task-list-item span {
    font-size: 1.2rem;
    font-style: italic;
    transition: inherit;
}

.home-overview-grid-sidebar-task-list-item:hover span {
    color: var(--white);
}

/* HOME OVERVIEW GRID DETAILS */
.div-home-overview-grid-details {
    position: relative;
    padding: 1.2rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
}

/* HOME OVERVIEW GRID DETAILS HEADER */
.div-home-overview-grid-details > header {
    text-align: right;
}
