/* HOME OVERVIEW GRID */
.div-home-overview-grid-container {
    display: grid;
    grid-template-columns: 35fr 65fr;
    column-gap: 2.4rem;
    height: fit-content;
}

/* HOME OVERVIEW GRID SIDEBAR */
.div-home-overview-grid-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
}

/* HOME OVERVIEW GRID SIDEBAR TASK LIST CONTAINER */
.div-home-overview-grid-sidebar-task-list-container {
    position: relative;
    flex-grow: 1;
    height: calc((5 * 4.8rem) + (4 * 0.8rem));
}

/* HOME OVERVIEW GRID SIDEBAR TASK LIST */
.home-overview-grid-sidebar-task-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: inherit;
    overflow-y: scroll;
}

.home-overview-grid-sidebar-task-list::-webkit-scrollbar {
    display: none;
}

/* HOME OVERVIEW GRID SIDEBAR TASK LIST ITEM */
.home-overview-grid-sidebar-task-list-item {
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    height: 4.8rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0 0.4rem 0.4rem 0;
    /* transition: all 0.3s ease-in-out; */
    overflow: hidden;
    cursor: pointer;
}

/* HOME OVERVIEW GRID SIDEBAR TASK LIST ITEM BEFORE */
.home-overview-grid-sidebar-task-list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: var(--primary);
    border-radius: 0 0.4rem 0.4rem 0;
    /* transition: all 0.3s ease-in-out; */
}

.home-overview-grid-sidebar-task-list-item:hover::before,
.active-task-list-item::before {
    background-color: var(--primary-shade);
}

/* HOME OVERVIEW GRID SIDEBAR TASK LIST ITEM AFTER */
.home-overview-grid-sidebar-task-list-item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0.8rem;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    border-radius: 50%;
    /* transition: all 0.3s ease-in-out; */
}

.home-overview-grid-sidebar-task-list-item:hover::after,
.active-task-list-item::after {
    background-color: var(--primary-shade);
}

/* HOME OVERVIEW GRID SIDEBAR TASK LIST ITEM DATA CONTAINER */
.div-home-overview-grid-sidebar-task-list-item-data-container p {
    font-size: 1.4rem;
}

.div-home-overview-grid-sidebar-task-list-item-data-container span {
    font-size: 1.2rem;
    font-style: italic;
}

/* SPAN TASK LIST ITEM RESOLVED */
.span-task-list-item-resolved {
    position: absolute;
    bottom: -1.2rem;
    right: -1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--primary);
    transform: rotate(45deg);
}

.home-overview-grid-sidebar-task-list-item:hover .span-task-list-item-resolved,
.active-task-list-item .span-task-list-item-resolved {
    background-color: var(--primary-shade);
}

/* HOME OVERVIEW GRID DETAILS */
.div-home-overview-grid-details {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
}

/* HOME OVERVIEW GRID DETAILS HEADER */
.div-home-overview-grid-details > header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.div-home-overview-grid-details > header button {
    font-size: 1.6rem;
    color: var(--gray-shade);
}

/* FORM EDIT TASK */
.form-edit-task {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 0.8rem;
    z-index: 2;
}

/* FORM CONTROL BUTTONS CONTAINER */
.div-form-control-btns-container {
    display: grid;
    column-gap: 1.2rem;
    width: 100%;
}
