/* POPUP BUTTON CLOSE */
.popup-btn-close {
    position: absolute;
    top: 0;
    right: 2.4rem;
    width: 3.2rem;
    aspect-ratio: 1 / 1;
    font-size: 1.4rem;
    color: var(--white);
    background-color: var(--danger);
    transform: translateY(-1.2rem);
    z-index: 1;
}

.popup-btn-close:hover {
    transform: translateY(calc(-100% + 0.4rem));
}

/* DISPLAY GRID TEMPLATE */
.grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-columns {
    grid-template-columns: repeat(4, 1fr);
}

/* HEADING */
.heading-secondary {
    font-size: 1.6rem;
    font-weight: 500;
}

/* LINE CLAMP */
.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-1 {
    line-clamp: 1;
    -webkit-line-clamp: 1;
}

.clamp-2 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

/* INPUT CONTAINER */
.div-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

/* TEXTAREA CONTAINER */
.div-textarea-container {
    flex-grow: 1;
}

/* INPUT CONTAINER LABEL */
.div-input-container label {
    position: relative;
    font-size: 1.4rem;
}

.div-input-container label::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1.6rem;
    height: 0.2rem;
    background-color: var(--danger);
    border-radius: 0.4rem;
    transform: translateY(-50%);
}

/* INPUT CONTAINER LABEL/TEXTAREA */
.div-input-container input,
.div-input-container textarea {
    padding: 0.8rem;
    box-shadow: inset 0 0 0 0.1rem var(--primary);
    border-radius: 0.4rem;
}

.div-textarea-container textarea {
    height: 100%;
}

.invalid-input-container input,
.invalid-input-container textarea {
    box-shadow: inset 0 0 0 0.1rem var(--danger);
}

/* BUTTON STANDARD */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    width: 100%;
    padding: 0.8rem 0;
    font-size: 1.2rem;
    color: var(--white);
    border-radius: 0.4rem;
}

/* BUTTON ICON */
.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
}

.btn ion-icon,
.btn-icon ion-icon {
    color: inherit;
}

.btn span {
    font-size: inherit;
    color: inherit;
}

/* BUTTON TYPES */
.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-shade);
}

.btn-danger {
    background-color: var(--danger);
}

.btn-danger:hover {
    background-color: var(--danger-shade);
}

.btn-warning {
    background-color: var(--warning);
}

.btn-warning:hover {
    background-color: var(--warning-shade);
}

.btn-icon:hover {
    opacity: var(--opacity-xl);
}
